.idea
__pycache__/

# Environments
.env
/venv

# Ignore a logger.log file
/task1/logger.log

# Ignore results folder with answer by queries
/task1/results

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# temp files
/task2/temp_numpy.py
/task2/temp_pandas.py

# Data for processing
/task2/data

/task5/pgdata
/task5/notebooks

/task7/logs
/task7/plugins
/task7/mongoDataBase
